doctype html
html
  head
    title Bake Sale
  
  body 
    - let date = new Date()
    h1 Inventory 
    h2 Products
    h2= date
      
    
    ul
      each product in products
      
        li #{product.name} $
          span #{product.price}
        p 
